.app {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.routeMainContainer {
  position: absolute;
  top: 100px;
  /* margin-left: 50%; */
  margin-top: 100px;
  width: auto;
  height: fit-content;
  overflow: scroll;
  padding: 10px;
  border: 1px solid LightGray;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  border-radius: 5px;
}
